mixin carousel(elements, id)
  section(id=id)
    each element, index in elements
      input(
        type="radio"
        name="carousel"
        id=`carousel-${index}`
        value=`carousel-${index}`
        checked=!index
      )
      article(style=`background-image: url(${element.imageUrl})`)
        div
          h2 #{element.title}
          span.description #{element.description}
      label.navigation.prev(for=`carousel-${index-1}`)
        i.fa.fa-angle-left
      label.navigation.next(for=`carousel-${index+1}`)
        i.fa.fa-angle-right
    nav
      form
        each element, index in elements
          label(for=`carousel-${index}`)
